/* static/style.css */

body {
	-webkit-app-region: drag !important;
    font-family: "Kosugi Maru", sans-serif;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    display: none !important;
}

input,
textarea,
button {
    -webkit-app-region: no-drag !important;
}

#chat-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

.message {
    -webkit-app-region: no-drag !important;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    word-wrap: break-word;
    animation: popup 0.4s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes popup {
    0% {
        transform: translateY(40px) scale(0.8);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale(1.0);
    }
    80%, 100% {
        opacity: 1;
    }
}